body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
    color: white;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: cyan;
    text-shadow: 0 0 10px cyan;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    box-shadow: 0 0 5px cyan;
}

input::placeholder {
    color: #ccc;
}

input:focus {
    box-shadow: 0 0 10px cyan;
}

.btn {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: cyan;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    color: cyan;
    box-shadow: 0 0 15px cyan;
}